body {
	margin: 0;
	display: flex;
	justify-content: center;
	flex-flow: column;
	min-height: 100vh;
	background-image: url("https://images.unsplash.com/photo-1520987623799-101883d6585a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	padding: 1em;
	background: #fff;
}

footer {
	padding: 1em;
	color: #fff;
	text-align: center
}

main {
	flex: 1;
	padding: 1em;
	color: #fff;
}

ul {
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
}